.collections-list
  - @collections.each do |collection|
    .collection-details
      .collection-image
        = image_tag collection.collection_photo
        .collection-description
          = collection.description
      .collection-tile-wrapper
        .collection-tile
          .title
            = link_to collection.title, collection_path(collection)
          .explore-button
            = link_to "EXPLORE", collection_path(collection), class: :button
