.collections-list
  - @collections.each do |collection|
    .collection-details.clearfix{"data-equalizer" => "", "data-equalizer-on" => "small-up"}
      .collection-image{"data-equalizer-watch" => ""}
        = image_tag collection.collection_photo
        .collection-description{"data-equalizer-watch" => ""}
          %p
            = collection.description
      .collection-tile{"data-equalizer-watch" => ""}
        .title
          %h1
            = link_to collection.title, collection_path(collection)
          = link_to "EXPLORE", collection_path(collection), class: :button
