.columns
  .collection
    %h1 Collections

  .row
    - @collections.each do |collection|
      .small-2.large-4.columns
        .collection-tile
          = link_to collection.title, collection_path(collection)
