.columns
  .collection
    %h1 Collections

  .row
    - @collections.each do |collection|
      .small-2.large-4.columns
        .tiles
          = link_to collection.title, collection_path(collection)
          = image_tag collection.collection_photo
