= full_grid_row do
  .title-bar
    %h1 Collections
  = full_grid_row do
    - @collections.each do |collection|
      .column.large-4.end
        .tiles
          = link_to collection.title, collection_path(collection)
          = image_tag collection.collection_photo
