.row.events-dashboard
  %h1 Manage Events
  %p
    = link_to "Add New Event", new_event_path, class: "button"
  %p Click the Event title to edit the details. 
  %ul
    - @events.each do |event|
      %li
        = link_to event.title, edit_event_path(event)
