.about-top-image
  %h1 IMAGE

.story-box
  .about-story
    %h1 OUR STORY
    %p Aster Candle was born out of the desire to create; and the notion that fragrance can both enhance everyday spaces and evoke special moments in time. The strike of a match can take you places - back into the arms of your first crush, back to the time you ate too many churros at a farmer’s market…both if you’re lucky.

    %h1 OUR INSPIRATION
    %p The night sky, nostalgia, kicking your shoes off, falling down the Instagram rabbit hole, whimsical gift shops along the Eastern seaboard, espresso martinis, the wind that seemingly follows Beyoncé, and #treatingyourself.

    %h1 OUR PROCESS
    %p Made with love in the Ocean State; hand-poured, small-batch, and other hyphenated buzzwords.

    %h1 OUR PRODUCT
    %p All natural, domestically grown soy wax. Carefully blended, phthalate free fragrance oils. Wicks made of cotton and paper. A longer, cleaner burning candle in the prettiest of packaging.

    %h2 Get ready to light up a room with your Aster Candle.
    %p
      Want to get in touch? Drop us a line at
      = mail_to "hello@astercandle.com"


.about-bottom-image
  %h1 IMAGE
