%div.dashboard-wrapper
  %div.dashboard-tile
  %p
    = link_to "Product Dashboard", "/products_dashboard"
  %div.dashboard-tile
  %p
    = link_to "Collections Dashboard", "/collections_dashboard"
  %div.dashboard-tile
  %p
    = link_to "Events Dashboard", "/events_dashboard"
