.about-top-image {
  border: 2px solid $jet;
  margin: 6% 0 0 0;
  height: auto;
}

.about-top-image img {
  width: 100%;
}

.story-box {
  border: 2px solid $gold;
  padding: 12%;
  background-color: $gold;
}

.about-story h1 {
  font-family: $font-family-serif-standard;
  border-bottom: 2px solid $jet;
  padding-bottom: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-story h1:nth-of-type(1) {
  width: 40%;
}

.about-story h1:nth-of-type(2) {
  width: 60%;
}

.about-story h1:nth-of-type(3) {
  width: 47%;
}

.about-story h1:nth-of-type(4) {
  width: 47%;
}

.about-story h2 {
  font-family: $font-family-serif-standard;
  text-align: center;
}

.about-story p:last-of-type {
  text-align: center;
}

.about-story p {
  padding: 2% 0;
  font-size: 1.25rem;
}

.about-bottom-image {
  border: 2px solid $jet;
  margin: 0 0 6% 0;
  height: 300px;
}

@media #{$small-only} {
  .about-story h1:nth-of-type(1) {
    width: 100%;
    font-size: 30px;
  }
  .about-story h1:nth-of-type(2) {
    width: 100%;
    font-size: 30px;
  }
  .about-story h1:nth-of-type(3) {
    width: 100%;
    font-size: 30px;
  }
  .about-story h1:nth-of-type(4) {
    width: 100%;
    font-size: 30px;
  }
  .about-bottom-image {
    height: 100px;
  }
}
