@import "fonts";
@import "foundation_and_overrides";
@import "slick";
@import "slick-theme";
@import "header";
@import "tiles";
@import "forms";
@import "products";
@import "slideshow";
@import "events";
@import "footer";
@import "about";
@import "collections";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

body {
  margin: -10px;
  font-family: $font-family-sans-serif;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}

.flash-messages p {
  margin: 0;
}

.flash-messages {
  margin-top: 10px;
}

.alert-box .close {
  color: $white;
  opacity: 0.5;
}

.login-path {
  text-align: center;
  margin: 5%;
}
