@import "fonts";
@import "foundation_and_overrides";
@import "slick";
@import "slick-theme";
@import "header";
@import "tiles";
@import "forms";
@import "products";
@import "slideshow";
@import "events";
@import "footer";
@import "about";
@import "collections";
@import "home";
@import "collections_products";
@import "_settings";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

body {
  margin: -10px;
  font-family: $font-family-sans-serif;
}

.wrapper {
  width: 88%;
  margin: 6% auto;
}

.flash-messages {
  margin-top: 20px;
}

.flash-messages .alert-box {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  background-color: $gold;
}

.flash-messages p {
  margin: 0;
  display: inline-block;
  float: left;
  padding: 10px;
}

.alert-box .close {
  color: black;
  opacity: 0.5;
  display: inline-block;
  float: right;
  padding: 10px;
  text-decoration: none;
}

.login-path {
  text-align: center;
  margin: 5%;
}

.placeholder {
  text-align: center;
}

.placeholder h1 {
  font-family: $font-family-serif-standard;
}

.clearfix {
  @include clearfix;
}

// New Pages
form input, textarea {
  display: block;
  width: 100%;
  height: 25px;
}

form label {
  margin-top: 15px;
  display: block;
}

form button {
  margin-top: 25px;
  background-color: $gold;
  border: 0;
  padding: 10px 25px;
  font-family: $font-family-sans-serif;
}
