.collection-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}

.collection-details:nth-child(3n+2) {
  flex-direction: row-reverse;
}

.collection-details:nth-child(3n+2) .collection-tile-wrapper {
  background: $gold;
}

.collection-details:nth-child(3n+3) .collection-tile-wrapper {
  background-color: white;
}

.collection-image {
  position: relative;
  width: 50%;
  border: 2px solid black;
}

.collection-image img {
  width: 100%;
  height: 100%;
}

.collection-tile-wrapper {
  width: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-details:nth-child(3n+3) .collection-tile-wrapper {
  border: 2px solid black;
  border-left: none;
}

.collection-details:nth-child(3n+2) .collection-tile-wrapper .collection-tile {
  border: 1px solid black;
}

.collection-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90%;
  border: 1px solid $gold;
  align-items: center;
}

.collection-description {
  display: none;
  position: absolute;
  top: 20%;
  padding: 25% 5%;
  margin: auto;
  width: 75%;
  font-size: 40px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
}

.collection-tile .title {
  font-family: $font-family-serif-standard;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 10px;
}

.collection-tile .title a {
  color: black;
  font-size: 50px;
  text-decoration: none;
}

.collection-details:nth-child(3n+1) .collection-tile-wrapper
.collection-tile .title a {
  color: $gold;
}

.collection-details:nth-child(3n+1) .collection-tile-wrapper
.collection-tile .explore-button .button {
  background-color: $gold;
}

.collection-details:nth-child(3n+2) .collection-tile-wrapper
.collection-tile .explore-button .button {
  color: $gold;
}

.collection-details:nth-child(3n+3) .collection-tile-wrapper
.collection-tile .explore-button .button {
  color: white;
}

.explore-button .button {
  background-color: black;
}

@include breakpoint(small only) {
  .collection-tile .explore-button {
    display: none;
  }

  .collection-tile .title  {
    margin-bottom: 0px;
  }
  .collection-tile .title a {
    font-size: 100%;
  }

  .collection-description {
    overflow: scroll;
  }

  .collection-description  {
    font-size: 12px;
  }
}
