.collection-details {
  position: relative;
  margin-bottom: 10%;
}

.collection-image img {
  width: 100%;
}

.collection-image {
  border: 2px solid black;
  display: inline-block;
  width: calc(50% - 4px);
}

.collection-description {
  display: none;
  position: absolute;
  top: 2px;
  width: calc(50% - 4px);
  height: calc(50% - 4px);
  background-color: rgba(255,255,255,0.7);
  overflow: scroll;
}

.collection-description p {
  font-size: 24px;
  margin: 20px;
}

.collection-tile {
  border: 2px solid $gold;
  display: inline-block;
  width: 50%;
  float: right;
  background-color: $gold;
  width: calc(50% - 4px);
}

.title {
  position: relative;
  margin: 5%;
  height: 90%;
  border: 1px solid black;
}

.collection-tile .title h1 a {
  color: black;
  display: block;
  font-family: $font-family-serif-standard;
  font-size: 112%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 30%;
  width: 100%;
}

.collection-tile .title .button {
  text-decoration: none;
  background: black;
  color: $gold;
  padding: 10px 25px;
  position: absolute;
  top: 55%;
  left: calc(50% - 65px);
}

.collection-details:nth-child(1) .collection-tile {
  background-color: black;
  border: 2px solid black;
}

.collection-details:nth-child(1) .title {
  border: 1px solid $gold;
}

.collection-details:nth-child(1) .collection-tile .title h1 a {
  color: $gold;
}

.collection-details:nth-child(1) .collection-tile .title .button {
  color: black;
  background-color: $gold;
}

.collection-details:nth-child(3) .collection-tile {
  background-color: white;
  border: 2px solid black;
  border-left: 0px;
}

.collection-details:nth-child(3) .title {
  border: 1px solid $gold;
}

.collection-details:nth-child(3) .collection-tile .title .button {
  color: white;
}

.collection-details:nth-child(2) .collection-tile {
    float: left;
}

.collection-details:nth-child(2) .collection-image {
    float: right;
}

@include breakpoint(medium only) {
  .collection-tile .title h1 a {
    font-size: 95%;
  }

  .collection-tile .title .button {
    left: calc(50% - 52px);
    padding: 5px 15px;
    top: 60%;
  }

  .collection-description {
    overflow: scroll;
  }
}

@include breakpoint(small only) {
  .collection-tile .title .button {
    display: none;
  }

  .collection-tile .title h1 a {
    font-size: 50%;
  }

  .collection-description {
    overflow: scroll;
  }

  .collection-description p {
    font-size: 12px;
  }
}
