.events-dashboard, .products-dashboard {
  position: relative;
}

.events-dashboard h1, .products-dashboard h1 {
  margin-bottom: 20px;
  text-align: center;
}

.events-dashboard li {
  line-height: 2;
  font-size: 20px;
}

.events-dashboard ul {
  margin-bottom: 30px;
  list-style: none;
}

.events-dashboard .button {
  position: absolute;
  right: 10%;
}

.products-dashboard .new-product-button-wrapper {
  position: absolute;
  right: 10%;
}

td {
  font-weight: bold;
  font-size: 25px;
  line-height: 3;
  padding: 0 10px;
}

.back {
  position: absolute;
  right: 10%;
  padding: 20px 0;
}
