.events-image {
  border: 2px solid $jet;
}

.events-image img {
  height: 100%;
  width: 100%;
}

.events-list li {
  list-style: none;
  text-align: center;
  padding-bottom: 5%;
}

.event-title {
  font-family: $font-family-serif-standard;
}

.events-list hr {
  width: 75%;
  border: solid 1px black;
  margin-right: auto;
  margin-left: auto;
}

.events-list p {
  margin-bottom: 0;
}

.events-list .date {
  font-family: $font-family-sans-bold;
  font-size: 20px;
}

.events-list .location-name {
  font-family: $font-family-sans-bold;
  text-transform: uppercase;
  padding-top: 8px;
}

.events-list .details {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard h1 {
  margin: 20px;
  text-align: center;
}

.dashboard li {
  line-height: 1.5;
  font-size: 20px;
}

.dashboard ul {
  margin-bottom: 30px;
}

@include breakpoint(medium down) {
  .event-title {
    font-size: 28px;
  }

  .events-list ul {
    padding: 0;
  }

  .events-list hr {
    width: 100%;
  }

  .events-list .details {
    width: 100%;
  }
}
