.placeholder {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 70%;
  text-align: center;
}

.placeholder h1 {
  font-family: $font-family-serif-bold;
}

.placeholder h3 {
  font-family: $font-family-sans-serif;
}
