.footer-line {
  margin: auto;
  border-top: solid 2px $jet;
  width: 88%;
}

.footer-line:before {
      content: "";
      width: 40%;
      height: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: $white;
      margin-top: -15px;
}

.footer-social {
  padding-top: 15px;
  width: 50%;
}

.footer-social img {
  width: 10%;
  padding: 0 5px;
  float: right;
}

.footer-contact-details {
  width: 50%;
  padding-top: 15px;
}

.footer-contact-details p {
  margin: auto;
}

@media #{$small-only} {
  .footer-line:before {
    margin-top: 0;
    height: 0;
  }
  .footer-social img {
    width: 40%;
  }
  .footer-social {
    width: 40%;
  }
  .footer-contact-details {
    width: 60%;
    margin-top: 20px;
  }
}
