.footer-line {
  margin: auto;
  border-top: solid 2px $jet;
  width: 88%;
}

.footer-line:before {
    content: "";
    width: 40%;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    margin-top: -15px;
}

.footer-social {
  padding: 15px 0;
  width: 50%;
  float: right;
}

.footer-social a {
  float: right;
  max-width: 55px;
}

.footer-social img {
  width: 50px;
  padding: 0 5px;
}

.footer-contact-details {
  width: 50%;
  padding-top: 15px;
  float: left;
}

.footer-contact-details p {
  margin: auto;
}

.footer-contact-details p a {
  color: $jet;
}
.footer-contact-details p a:hover {
  font-weight: bolder;
  color: $gold;
}

@include breakpoint(small only) {
  .footer-line:before {
    margin-top: 0;
    height: 0;
  }

  .footer-line {
    margin-top: 15px;
  }

  .footer-social {
    width: 40%;
  }

  .footer-contact-details {
    width: 60%;
    margin-top: 20px;
  }
}
