.aster-logo-wrapper {
  background-color: black;
  padding: 20px 0px;
}

.aster-logo-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#page-navigation {
  text-align: center;
  padding: 60px 0 0 0;
  background-color: $white;
  margin: 0 25%;
}

#page-navigation li {
  display: inline;
  padding: 10px 25px;
}

#page-navigation li a {
  color: $gold;
  font-size: 1.75rem;
}

#page-navigation li a:hover {
  font-weight: bolder;
}

.title-line {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  height: 85px;
  border-bottom: 2px solid $jet;
}

@media #{$small-only} {
  #page-navigation li a {
    font-size: 1.25rem;
  }

  #page-navigation {
    padding-top: 30px;
    width: 88%;
    margin-left: auto;
    margin-right: auto; 
  }

  #page-navigation li {
    padding: 10px 10px;
  }

  .title-line {
    height: 70px;
  }
}
