.aster-co-logo {
  border-bottom: 2px solid $gold;
  margin: 10px;
}

.aster-co-logo h1 {
 font-family: serif;
 color: $jet;
 padding-right: 25px;
 font-size: 50px;
 float: right;
}

.aster-co-logo button {
  background-color: $white;
  margin: 15px 20px;
}

.menu {
	transition: 0.1s transform linear;
	position: relative;
	background: 0;
	float: left;
	margin: 2rem;
	height: 2.7rem;
	width: 3.5rem;
	z-index: 1;
	outline: 0;
	padding: 0;
	border: 0;
}

.bar {
	&, &::before, &::after {
		transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
		position: absolute;
		background: #000;
		margin: auto;
		width: 100%;
		height: 0.3rem;
		content: '';
		top: 50%;
		right: 0;
	}

	& {
		margin-top: -0.2rem
	}

	&::before {
		top: -1.2rem;
	}

	&::after {
		top: 1.2rem;
	}

	&::before,
	&::after {
		transform: rotate(0deg);
	}

	.active & {
		background: 0;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			top: 0;
		}

		&,
		&::before,
		&::after {
			transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
		}
	}
}

nav {
	width: 225px;
	height: 100%;
	background: #eaeaea;
  z-index: 1;
	position: fixed;
	transform: translateX(-300px);
	transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
	padding-top: 10px;
  margin-top: 82px;

	.menu-open & {
		transform: translateX(0);
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			padding: 20px 5px 20px 25px;
			font-size: 1.25rem;

			&:hover {
				background: $gold;
			}
		}
	}
}
