.box img {
  border: solid black 2px;
}

.box {
  position: relative;
  width: 23%;
  margin-bottom: 20px;
}

.box:first-child {
  font-size: 45px;
  text-align: center;
  z-index: 0;
}

.box:first-child:before {
  content: " ";
  background-color: black;
  display: block;
  width: 100%;
  position: absolute;
  padding-top: 98%;
  border: 2px solid $gold;
  z-index: -1;
}

.box:first-child a:first-child {
  padding-top: 15%;
}

.box:first-child a {
  display: block;
  z-index: 200;
}

.photo-panel {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

@media #{$small-only} {
  .photo-panel {
    display: block;
  }

  .box {
    width: 47%;
    float: left;
    display: block;
  }

  .box:nth-child(odd) {
    margin-right: 5%;
  }

  .box:first-child {
    font-size: 20px;
  }
}
.instagram-media {
  
}
