.box {
  position: relative;
  width: 23%;
  margin-bottom: 20px;
}

.box:first-child {
  text-align: center;
  background-color: black;
  border: 2px solid $gold;
  border-radius: 2%;
}

.box:first-child a {
  color: $gold;
  display: block;
  font-size: 40px;
  position: absolute;
  text-decoration: none;
  top: 30%;
  z-index: 200;
}

.photo-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  overflow: hidden;
}

@include breakpoint(medium only) {
  .photo-panel {
    display: block;
  }

  .box {
    width: 47%;
    float: left;
    display: block;
  }

  .box:nth-child(odd) {
    margin-right: 5%;
  }

  .slick-slider {
    margin-bottom: 0;
  }
}

@include breakpoint(small only) {
  .photo-panel {
    display: block;
  }

  .box {
    width: 100%;
    display: block;
  }

  .box:first-child a {
    font-size: 52px;
  }

  .wrapper{
    width: 84%;
  }
}
