.box {
  position: relative;
  width: 23%;
  margin-bottom: 20px;
}

.box:first-child {
  font-size: 35px;
  text-align: center;
  background-color: black;
  border: 2px solid $gold;
  border-radius: 2%;
}

.box:first-child a:first-child {
  padding-top: 15%;
}

.box:first-child a {
  display: block;
  z-index: 200;
}

.photo-panel {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

@media #{$medium-only} {
  .photo-panel {
    display: block;
  }

  .box {
    width: 47%;
    float: left;
    display: block;
  }

  .box:nth-child(odd) {
    margin-right: 5%;
  }

  .slick-slider {
    margin-bottom: 0;
  }
}

@media #{$small-only} {
  .photo-panel {
    display: block;
  }

  .box {
    width: 98%;
    float: left;
    display: block;
  }

  .box:first-child {
    width: 98%;

     a:last-child {
      padding-bottom: 15%;
    }
  }

  .slick-slider {
    margin-bottom: 0;
  }
}
