.product-wrapper {
  background-color: $gold;
  border: solid 2px black;
  margin: 30px 0;
}

.admin-details {
  border: 2px solid #aaa;
  padding: 10px 20px;
  background-color: #ccc;
  margin: 20px;
  display: none;
}

.admin-details .button {
  display: inline-block;
  float: right;
  margin: 10px;
}

.admin-details p {
  font-size: 1em;
  color: $oil;
  font-weight: 300;
  margin: .5em;
}

.details-tile {
  margin: 30px 30px;
  text-align: center;
}

.details-tile p {
  text-align: left;
}

.details-tile h2{
  font-family: $font-family-serif-medium;
}

.image-tile img {
  margin: 50px;
  border: solid 1px black;
}

.product-list h3 {
  text-align: center;
}

.product-list  {
  margin-top: 75px;
  padding: 40px;
  background-color: #ccc;
}
