.product-wrapper {
  background-color: $gold;
  border: solid 2px black;
  margin: 30px 0;
}

.admin-details {
  border: 2px solid #aaa;
  padding: 10px 20px;
  background-color: #ccc;
  margin: 20px;
  display: none;
}

.admin-details .button {
  display: inline-block;
  float: right;
  margin: 10px;
}

.admin-details p {
  font-size: 1em;
  color: $oil;
  font-weight: 300;
  margin: .5em;
}

.details-tile {
  text-align: center;
  float: right;
  width: 35%;
  font-size: 130%;
  margin-right: 8%;
  margin-top: 5%;
}

.details-tile p {
  text-align: left;
}

.details-tile h2{
  font-family: $font-family-serif-medium;
}

.image-tile {
  width: 45%;
  float: left;
}

.image-tile img {
  margin: 8%;
  border: solid 1px black;
  width: 100%;
}

.product-list h3 {
  text-align: center;
}

.product-list  {
  margin-top: 75px;
  padding: 40px;
  background-color: #ccc;
}

.slideshowp {
  float: left;
  margin-top: 30px;
  margin-left: -30px;
  width: 35%;
  left: 10%;
}


.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-prev:before {
  content: "\25C0";
}

.slick-next:before {
  content: "\25B6";
}

@include breakpoint(medium down) {
  .product-content {
    position: relative;
  }

  .image-tile, .details-tile {
    float: none;
    width: 100%;
  }

  .image-tile img {
    width: calc(84% - 2px)
  }

  .details-tile {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    font-size: 100%;
  }

  .details-tile p {
    text-align: center;
  }
}
