.product-wrapper {
  background-color: $gold;
  border: solid 2px black;
  margin: 30px 0;
}

.admin-details {
  border: 2px solid #aaa;
  padding: 10px 20px;
  background-color: #ccc;
  margin: 20px;
  display: none;
}

.admin-details .button {
  display: inline-block;
  float: right;
  margin: 10px;
}

.admin-details p {
  font-size: 1em;
  color: $oil;
  font-weight: 300;
  margin: .5em;
}

.details-tile {
  margin: 2%;
  text-align: center;
  float: right;
  width: 45%;
  font-size: 130%;
}

.details-tile p {
  text-align: left;
}

.details-tile h2{
  font-family: $font-family-serif-medium;
}

.image-tile {
  width: 45%;
  float: left;
}

.image-tile img {
  margin: 8%;
  border: solid 1px black;
  width: 100%;
}

.product-list h3 {
  text-align: center;
}

.product-list  {
  margin-top: 75px;
  padding: 40px;
  background-color: #ccc;
}

.product-slide {
  position: relative;
}
.slideshowp {
  position: absolute;
  width: 25%;
  left: 10%;
}
@include breakpoint(medium down) {
  .product-content {
    position: relative;
  }

  .image-tile, .details-tile {
    float: none;
    width: 100%;
  }

  .image-tile img {
    width: calc(84% - 2px)
  }

  .details-tile {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    font-size: 100%;
  }

  .details-tile p {
    text-align: center;
  }
}
