.slideshow {
  padding: 6% 0%;
}

.slideshow img:first-child {
  margin-right: 47px;
}

.slideshow img {
  border: solid 2px $jet;
}

@media #{$small-only} {
  .slideshow img {
    margin-top: 15px;
  }
}
