.stockists-story h1 {
  font-family: $font-family-serif-standard;
  color: black;
}

.company-name, .company-address, .website {
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 1em;
}

.company-name {
  font-family: $font-family-sans-bold;
}

.company-details {
  margin: 15px 15px 40px;
}

@include breakpoint(medium down) {
  .state-title {
    font-size: 20px;
  }
}
