= full_grid_row do
  .title-bar
    %h1 All Visible Products
  = full_grid_row do
    - @products.each do |product|
      .column.large-4.end
        .tiles
          = link_to product.name, product_path(product)
          = image_tag product.product_photos.first
