.footer-wrap
  .footer-contact-details.left
    %p (555)555-5555
    %p hello@astercandle.com

  .footer-social.right
    = image_tag("Instagram-01.png")
    = image_tag("pintrest-01.png")
    = image_tag("facebook-01.png")
    = image_tag("Twitter-01.png")
