-# %nav.top-bar(data-topbar role="navigation" data-options="sticky_on: [small, medium, large]")
-#   .aster-co-logo
-#     .nav-links.right
-#       %p= link_to "Collections", collections_path
-#       %p= link_to "About"
-#       %p= link_to "Contact"
.aster-co-logo.clearfix
  %button.js-menu.menu
    %span.bar

  %nav
    %ul
      %li=  link_to "Collections", collections_path
      %li=  link_to "Products", all_products_path
      %li=  link_to "About"

  %h1
    = link_to "Aster Co.", root_path
