%nav.top-bar(data-topbar role="navigation" data-options="sticky_on: [small, medium, large]")
  %ul
    %li
      %h1
        = link_to root_path do
          <strong>A</strong>ster Co.
    %li.right
      = link_to "Collections"
      = link_to "About"
      = link_to "Contact"
