.aster-co-logo.clearfix
  %button.js-menu.menu
    %span.bar

  %nav
    %ul
      %li=  link_to "Collections", collections_path
      %li=  link_to "Contact", contact_info_path
      %li=  link_to "About", about_path

  %h1
    = link_to "Aster Co.", root_path
