%nav.top-bar(data-topbar role="navigation" data-options="sticky_on: [small, medium, large]")
  .aster-co-logo
    = link_to "Aster Co.", root_path
    .nav-links.right
      %p= link_to "Collections", collections_path
      %p= link_to "About"
      %p= link_to "Contact"
